.reveal cite {
  color: #aaa;
  font-size: 12px;
}

.reveal img.thin-border {
  border-width: 1px;
}

.reveal section .flex-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

